.s-2-head {
    font-size: 40px;
    margin-top: 50px;
    text-align:  center;
    line-height: 30px;
}

.s-2-img {
    height: 150px;
    width: 150px;
    margin-right: 20px;
}

.section-2-container{
    padding-left: 350px;
    padding-right: 350px;
    margin-bottom: 200px;
}

.s-2-anchor-element {
    font-size: 24px;
    margin-left: 35px;
}